@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/manrope/v13/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_C-bk.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
#__next {
	background-color: #202733;
}
.main {
	width: 540px;
	min-height: 332px;
	background-color: #313a48;
	font-family: 'Manrope';
}

.id {
	color: #53ffaa;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 4.08571px;
}

.id:hover {
	color: #fff;
	text-shadow:
		/* Green glow */ 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,
		0 0 102px #0fa, 0 0 151px #0fa;
	animation: flicker 1.5s infinite alternate;
	cursor: pointer;
}

.advice {
	width: 444px;
	height: 114px;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 38px;
	text-align: center;
	letter-spacing: -0.3px;
	color: #cee3e9;
}

.circle {
	background-color: #53ffaa;
	width: 64px;
	height: 64px;
	transform: translateY(32px);
}

.circle:hover {
	box-shadow: -3px -3px 74px 22px rgba(83, 255, 170, 0.8);
	-webkit-box-shadow: -3px -3px 74px 22px rgba(83, 255, 170, 0.8);
	-moz-box-shadow: -3px -3px 74px 22px rgba(83, 255, 170, 0.8);
}

@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
			0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
	}
	20%,
	24%,
	55% {
		text-shadow: none;
	}
}
